@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

body{
    margin: 0;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

input{
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: Poppins;
    margin: 5px;
}

button{
    background: rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: Poppins;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.display{
    display: flex;
    flex-direction: row;
}


.weather-container{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    margin: 5px;
}

.hourly-container{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    margin: 5px;
    height: 65vh;
    transition: all 0.5;
}

#myChart{
    height: 65vh;
}

.app-title{
    font-weight: 700;
    font-size: 2.5rem;
}

.date{
    font-size: 1.3rem;
    padding-bottom: 10px;
}

.temp-val p{
    font-weight: 700;
    cursor: pointer;
    font-size: 4rem;
    margin: 0;
    transition: all 0.3s;
}

.temp-val p:hover{
    transform: scale(1.3);
}

.temp-val span{
    font-weight: 200;
}

.temp-desc p{
    font-weight: 400;
    font-size: 1.3rem;
}

.location p{
    font-weight: 200;
    font-size: 1.3rem;
}

@media (max-width: 768px){
    .container{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 100px;
    }
    .weather-container{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 10px;
    }

    .app-title{
        margin-top: 10px;
        font-size: 2rem;
    }
    .display{
        display: flex;
        flex-direction: column;
    }
    .hourly-container{
        height: 20vh;
    }
    #myChart{
        height: 20vh;
    }
}